
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PSNotification/.vs/*
library/PSNotification/PSNotification/bin/*
library/PSNotification/PSNotification/obj/*

# ignore PowerShell Studio MetaData
PSNotification/PSNotification.psproj
PSNotification/PSNotification.psproj.bak
PSNotification/PSNotification.psprojs
PSNotification/PSNotification.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*